.cardHeading {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  line-height: 140%;
  letter-spacing: 0%;
  width: 401.3px;
  height: 49px;
  color: #000000;
  margin: 0;
}